<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>

  <appSettings>
    <add key ="UserName" value="hpcd.oko.mositio.com"/>
    <add key="pass" value="dcph2233"/>
    <add key ="from" value="c:\prueba"/>
    <add key="to" value="ftp://ftp.oko.mositio.com/yourfolder/"/>
    <add key="antique" value="6"/>
  </appSettings>

  <!--<system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->
  
  
</configuration>
